@import "vars";

.hover_wrapper {
  h2 {
    text-align:center;
    color:#f4ce77;
    font-size:22px;
    font-weight:700;
    font-family:$font_main;
    text-transform:uppercase;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
    margin-bottom:25px;
  }

}

//Tooltip slides in from left to right

@mixin hover-trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

//Slide in from sides
.hover1 {
  @include hover-trans;
  float:left;
  margin-bottom:30px;
  width:465px;
  height:275px;
  position:relative;
  overflow:hidden;

  &:nth-of-type(even) {
    margin-left:30px;
  }

  img {
    @include hover-trans;
    @include translateX(0);
    position:relative;
  }

  //Let the magic begin
  .tooltip {
    @include hover-trans;
    width:100%;
    height:100%;
    background:url(../img/upfeathers.png) repeat;
    position:absolute;
    top:0;
    left:0;

    @include translateX(-100%);

    h1 {
      text-align:center;
      background:rgba(255, 255, 255, 0.7);
      padding:15px 0px;
      text-transform:uppercase;
      font-weight:bold;
      font-size:16px;
      position:absolute;
      top:20px;
      width:100%;
    }

    .hover_desc {
      display:table;
      height:100%;
      width:100%;
    }

    p {
      width:100%;
      padding:40px;
      text-align:center;
      color:#000;
      text-shadow: 1px 2px 2px rgba(255, 255, 255, 1);
      display: table-cell;
      vertical-align: middle;
    }

    .readmore {
      position:absolute;
      bottom:40px;
      width:100%;
      text-align:center;

      a {
        text-transform:uppercase;
        color:#fff;
        font-size:14px;
        padding:15px 44px;
        background:#000;
        text-decoration:none;
        @include border-radius(3px, 3px);
        margin:auto;
        display:inline-block;
      }
    }
  }

  &:hover {
    .tooltip {
      @include translateX(0);
    }

    img {
      @include translateX(100%);
    }
  }

  &.reverse {
    .tooltip {
      @include translateX(100%);
    }

    img {

    }

    &:hover {
      img {
        @include translateX(-100%);
      }

      .tooltip {
        @include translateX(0);
      }
  }
  }
}


//Hover2 fade and slide
.hover2 {
  @include hover-trans;
  float:left;
  margin-bottom:30px;
  width:465px;
  height:275px;
  position:relative;
  overflow:hidden;

  &:nth-of-type(odd) {
    margin-left:30px;
  }

  img {
    @include hover-trans;
  }

  &:hover {

    img {
      @include scale(1.1,1.1);
    }

    .tooltip {
      opacity:1;

      h1 {
        top:20px;
      }

      .hover_desc {
        bottom:0%;
      }
    }
  }

  &.reverse {
    .tooltip {
      h1 {top:100%;}

      .hover_desc {
        bottom:100%;
      }
    }

    &:hover {
      .tooltip {
        h1 {
          top:20px;
        }

        .hover_desc {
          bottom:0%;
        }
      }
    }
  }

  .tooltip {
    @include hover-trans;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(215, 148, 44, 0.7);
    opacity:0;


    h1 {
      @include hover-trans;
      text-align:center;
      background:rgba(255, 255, 255, 0.7);
      padding:15px 0px;
      text-transform:uppercase;
      font-weight:bold;
      font-size:16px;
      position:absolute;
      top:-50px;
      width:100%;
    }

    .readmore {
      position:absolute;
      bottom:40px;
      width:100%;
      text-align:center;

      a {
        text-transform:uppercase;
        color:#fff;
        font-size:14px;
        padding:15px 44px;
        background:#000;
        text-decoration:none;
        @include border-radius(3px, 3px);
        margin:auto;
        display:inline-block;
      }
    }

    .hover_desc {
      @include hover-trans;
      display:table;
      height:100%;
      width:100%;
      position:absolute;
      bottom:-100%;
    }

    p {
      width:100%;
      padding:40px;
      text-align:center;
      color:#fff;
      //text-shadow: 1px 2px 2px rgba(255, 255, 255, 1);
      display: table-cell;
      vertical-align: middle;
    }
  }

}
