/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

body {background:tomato;}
.icons {display:inline-block;}
