/* line 3, ../../scss/base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 7, ../../scss/base.scss */
body {
  background: #323a45;
  font-family: "Open Sans", sans-serif;
}
/* line 11, ../../scss/base.scss */
body .topbar {
  height: 3px;
  width: 100%;
  background: #14171b;
}
/* line 17, ../../scss/base.scss */
body .site_wrapper {
  width: 100%;
  max-width: 960px;
  height: auto;
  min-height: 500px;
  margin: 80px auto 300px;
}

/* line 26, ../../scss/base.scss */
.codeblock {
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  width: 100%;
  border: solid gray;
  border-width: 1px 1px 1px 1px;
  padding: 5px 5px;
  margin-bottom: 20px;
}

/* line 36, ../../scss/base.scss */
.main_title h1 {
  text-align: center;
  color: #f4ce77;
  font-size: 32px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px black;
  margin-bottom: 25px;
}
/* line 47, ../../scss/base.scss */
.main_title p {
  text-align: center;
  width: 50%;
  margin: auto;
  text-shadow: 1px 2px 2px black;
  color: white;
  font-family: "Roboto", sans-serif;
}
/* line 56, ../../scss/base.scss */
.main_title .download {
  margin-top: 30px;
  text-align: center;
}
/* line 59, ../../scss/base.scss */
.main_title .download .btn {
  text-transform: uppercase;
  color: #14171b;
  font-size: 14px;
  padding: 15px 44px;
  background: #e7c370;
  text-decoration: none;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: 0px 5px 0px 0px #72623f;
  -webkit-box-shadow: 0px 5px 0px 0px #72623f;
  box-shadow: 0px 5px 0px 0px #72623f;
  margin: auto;
  display: inline-block;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 73, ../../scss/base.scss */
.main_title .download .btn:hover {
  background: #e7b645;
  -moz-box-shadow: 0px 5px 0px 0px rgba(114, 98, 63, 0.4);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(114, 98, 63, 0.4);
  box-shadow: 0px 5px 0px 0px rgba(114, 98, 63, 0.4);
}
/* line 78, ../../scss/base.scss */
.main_title .download .desc {
  color: #e7c370;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
}

/* line 87, ../../scss/base.scss */
.sep {
  height: 1px;
  width: 100%;
  background: #14171b;
  margin: 40px auto;
}

/* line 94, ../../scss/base.scss */
.icons {
  display: inline-block;
}

/* line 96, ../../scss/base.scss */
.cf {
  clear: both;
}
