/* line 4, ../../scss/hovers.scss */
.hover_wrapper h2 {
  text-align: center;
  color: #f4ce77;
  font-size: 22px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px black;
  margin-bottom: 25px;
}

/* line 27, ../../scss/hovers.scss */
.hover1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
  margin-bottom: 30px;
  width: 465px;
  height: 275px;
  position: relative;
  overflow: hidden;
}
/* line 36, ../../scss/hovers.scss */
.hover1:nth-of-type(even) {
  margin-left: 30px;
}
/* line 40, ../../scss/hovers.scss */
.hover1 img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: relative;
}
/* line 47, ../../scss/hovers.scss */
.hover1 .tooltip {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background: url(../img/upfeathers.png) repeat;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 58, ../../scss/hovers.scss */
.hover1 .tooltip h1 {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 20px;
  width: 100%;
}
/* line 70, ../../scss/hovers.scss */
.hover1 .tooltip .hover_desc {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 76, ../../scss/hovers.scss */
.hover1 .tooltip p {
  width: 100%;
  padding: 40px;
  text-align: center;
  color: #000;
  text-shadow: 1px 2px 2px white;
  display: table-cell;
  vertical-align: middle;
}
/* line 86, ../../scss/hovers.scss */
.hover1 .tooltip .readmore {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
/* line 92, ../../scss/hovers.scss */
.hover1 .tooltip .readmore a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 15px 44px;
  background: #000;
  text-decoration: none;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  margin: auto;
  display: inline-block;
}
/* line 107, ../../scss/hovers.scss */
.hover1:hover .tooltip {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 111, ../../scss/hovers.scss */
.hover1:hover img {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 117, ../../scss/hovers.scss */
.hover1.reverse .tooltip {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 126, ../../scss/hovers.scss */
.hover1.reverse:hover img {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 130, ../../scss/hovers.scss */
.hover1.reverse:hover .tooltip {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 139, ../../scss/hovers.scss */
.hover2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
  margin-bottom: 30px;
  width: 465px;
  height: 275px;
  position: relative;
  overflow: hidden;
}
/* line 148, ../../scss/hovers.scss */
.hover2:nth-of-type(odd) {
  margin-left: 30px;
}
/* line 152, ../../scss/hovers.scss */
.hover2 img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 158, ../../scss/hovers.scss */
.hover2:hover img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 162, ../../scss/hovers.scss */
.hover2:hover .tooltip {
  opacity: 1;
}
/* line 165, ../../scss/hovers.scss */
.hover2:hover .tooltip h1 {
  top: 20px;
}
/* line 169, ../../scss/hovers.scss */
.hover2:hover .tooltip .hover_desc {
  bottom: 0%;
}
/* line 177, ../../scss/hovers.scss */
.hover2.reverse .tooltip h1 {
  top: 100%;
}
/* line 179, ../../scss/hovers.scss */
.hover2.reverse .tooltip .hover_desc {
  bottom: 100%;
}
/* line 186, ../../scss/hovers.scss */
.hover2.reverse:hover .tooltip h1 {
  top: 20px;
}
/* line 190, ../../scss/hovers.scss */
.hover2.reverse:hover .tooltip .hover_desc {
  bottom: 0%;
}
/* line 197, ../../scss/hovers.scss */
.hover2 .tooltip {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(215, 148, 44, 0.7);
  opacity: 0;
}
/* line 208, ../../scss/hovers.scss */
.hover2 .tooltip h1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: -50px;
  width: 100%;
}
/* line 221, ../../scss/hovers.scss */
.hover2 .tooltip .readmore {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
/* line 227, ../../scss/hovers.scss */
.hover2 .tooltip .readmore a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 15px 44px;
  background: #000;
  text-decoration: none;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  margin: auto;
  display: inline-block;
}
/* line 240, ../../scss/hovers.scss */
.hover2 .tooltip .hover_desc {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
}
/* line 249, ../../scss/hovers.scss */
.hover2 .tooltip p {
  width: 100%;
  padding: 40px;
  text-align: center;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
